@media (min-width: 640px) and (max-width: 768px) {
    .filtres ul{
        flex-wrap: wrap;
    }
    #hebergements{
        display:flex;
        flex-direction: column;
        margin:-40px 40px 40px 40px;
    }
    .hebergements-pop{
        order:-1;
    }
    .hebergements-main ul{
        grid-template-columns: 1fr 1fr;
    }
    #activites ul{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "port pom" 
            "cal ndlg"
            "fri lgchp";
    }
    #activites ul li{
        height: auto;
    }
    #activites ul li:nth-child(6){
        position: unset;
    }
    .card-activite .card-activite-img{
        height:200px !important;
    }
}